$blue : #0090D8;
$blue100 : #03A1EB;
$gray : #777777;
$bisque : #ffe4c4;
$bisque100 : rgb(224, 196, 160);
$tomato : #ff6348;
$white : #fff;
$honeydew : #f0fff0;
$aliceblue : #f0f8ff;
$green : #60cc6e;
$green100 : #6baa73;